* {
    border: 0px solid red
}

.main{
  position: relative;
  height: 100vh;
  width: 100vw;
}
.header {
    background-color: #212121;
    width: 100vw;
    height: 55px;
}
.content{
position: relative;
display: flex;
flex-direction: row;
height: 100%;
}
.content .nav{
  height: 94vh
}

.react-calendar__navigation button {
    font-size: 1em
}

.react-calendar__month-view__weekddays {
    color: gray;
}
