
.nav-mobile{
  display: none
  }
.nav{
  background-color: #212121;
  color: #fefefe;
  width: 230px;
  height: auto;
}
.nav ul{
  padding-left: 15px;
}
.nav div ul img {
  margin-right: 15px
}
li{
  list-style-type: none;
}
li .links{
  margin: 20px auto;
  display: flex;
  align-items: center;
}
.nav div:nth-child(1){
  display: flex;
  background-color: #424242;
  height: 45px;
  align-items: center;
  padding-left: 15px;


}
.bottom_config{
  position: absolute;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
  bottom: 45px;

}

li .links {
  text-decoration: none;
  color: #fefefe;
}
li .links.active{
  color: #fefefe
}

@media only screen and (max-width:680px){
  .nav{
    display: none;
  }

}
