body{
  background-color: whitesmoke;
}
.reinscription-component{
  margin-top: 15px;
  width: 100% ;
  height:auto ;
  display: flex;
  justify-content:space-between;



}
/* personalisation scroll*/



::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #00796B;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color:#00796B;
}

.main {
  position: relative;
  width: 40%;
  height: 90%;
  background-color: #fefefe;
  margin: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);


}
.main:first-child ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 0;
}
.main:first-child ul li {
  width: 48%;
  height: 45px;
  padding-top: 15px;
  text-align: center;


}
.main:first-child ul li hr {
  height: 2px;
  background-color: #FFEA00;
  border: none;
  margin-bottom: 0;
  margin-top: 10px;
}
.main:first-child ul li a {
  text-decoration: none;
  text-underline-position: under;
  color: #FFEA00;
  width: 100%;
  padding-bottom: 10px;
}
.main:first-child ul .active-button {
  opacity: 0.475;
}
.main:first-child ul .active-button hr {
  opacity: 0.475;
}
.main:first-child ul .active-button.active {
  opacity: 1;
}
.main:first-child ul .active-button.active hr {
  opacity: 1;
}
.main:first-child hr {
  margin-bottom: 0;
  margin-top: -17px;
  background-color: #ffea00;
  opacity: 0.3;
  height: 2px;
  border: none;
  width: 96%;
}
.main .active-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
  overflow: auto;
}
/* Classe active style*/
.Section:first-child {
  width: 100%;
  height: 75vh;
  transform: translateX(10%);
  animation: transform 0.4s ease;
  animation: display 0.4s ease;
  display: flex;
  justify-content: center;
}
.Section:last-child {

  width: 100%;
  height: 75vh;
  animation: transform 0.4s ease;
  animation: display 0.4s ease;
  transform: translateX(10%);
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.main .active-section .Section {
  display: none;
  transform: translateX(10%);
}
.main .active-section .Section.active {
  display: flex;
  transform: translateX(0%);
  transition: transform 2s ease;
  transform: display 1s ease;
  animation: fadeLeft 0.75s;
}

/* style Champs*/

.Champ-form {

  display: flex;
  flex-direction: column;
  width: 96%;

}
.champ-form:last-child{
  background-color: yellow;
  margin-top: 150px
}
.Champ-form label{
  color:#353535;
  font-size: 18px;
  padding-bottom: 10px;


}
.Champ-form input{
  color:#353535;
  width: 96%;
  height: 35px;
  border-radius: 7px;
  padding-left: 15px;
  border: 2px solid #a1a1a1;


}
.Champ-form input:focus{
  outline: none;
  border: 2px solid #00796B;
  box-shadow: 0px 0px 15px rgba(22, 23, 2a, 0.2);
}


@keyframes fadeLeft {
  from {
    transform: translateX(-5%);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
